body div{
/*border: 1px solid black;*/
font-family: 'Alegreya Sans SC', sans-serif;


}

.row div {
	margin: 0px;
}

#row-header{
	padding-bottom: 20px;
	padding-top: 50px;
	border-bottom: 2px solid #898B9C;
}
.profile-img img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header-name{
	text-align: center;
	color: #0266B3;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}

#header-info div{
	padding-right: 0px;
}
.header-pg-info{
	font-size: 25px;
	color: #898B9C;
	vertical-align: middle;
	margin: 0px;
	font-weight: bold;
	
	
}

.header-pr-info{
	font-size:22px;
	vertical-align: middle;
	margin: 0px;
		font-family: 'Josefin Sans', sans-serif;
}


/******Content***/
.row-content div{
	padding-bottom: 50px;
}

.content-header, .content-middle {
	margin: auto;
	text-align: center;
}

.content-text h1{
	text-align: center;
	vertical-align: center;
	font-size: 50px;
		font-family: 'Josefin Sans', sans-serif;
}

.content-middle h4, .content-bottom h4{
	font-size: 25px;
	color: #898B9C;
	vertical-align: center;
	text-align: center;

}

.content-rect div, img{
	display: inline;
	margin-right: 10px;
	margin-top: 10px;
}

.content-pics {
	padding-left: 21%;
}

.content-pics div{
	margin-bottom: 50px;	
}

.content-pics h2{
	font-size: 25px;
	color: #0266B3;
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
}

.rectangle{
position: relative;
}

.pic{
position: absolute;
	top: 30px;
	left: 65px;
}
.content-bottom h4{
	margin-top: 25px;
	margin-bottom: 50px;
}

/******Footer********/
footer{
	background-image: url(../icons/footer-bg.png);
	text-align: center;
	padding-bottom: 50px;

}

.ft-img img{
	margin-top:-40px;

}

.ft-info h5{
	font-size: 28px;
	color: #0266B3;
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 70px;
}

.ft-info h4{
	font-size: 40px;
	color: #0266B3;
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
}

.ft-stats {
	margin-top: 50px;

}
.ft-stats div{
	display: inline;
	margin-right: 30px;
	font-size: 30px;
	color: #898B9C;
	font-family: 'Josefin Sans', sans-serif;
}
